#URL
Frontend=http://127.0.0.1:5173

# POSTGRESQL
DATABASE_NAME=postgres
POSTGRESQL_PASSWORD=tuandang271

STORAGE_URL=./src/database/storage

# API
OPENAI_API_KEY=None
LLAMA_CLOUD_API_KEY=None
# MODEL
EMBEDDING_MODEL=text-embedding-3-large
LLM_MODEL=gpt-5-mini
